// TableCell_Object.tsx
.object {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  > img {
    height: 50px;
    object-fit: cover;
  }
}

.wrap {
  text-align: center;
}

.investmentCount {
  color: #9E9E9E;
}
